* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.large-text {
  font-size: 1.5rem;
}

.key {
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
  padding: 1rem 1.5rem;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.338);
}

.display {
  min-height: 80px;
  min-width: 750px;
}

.selectors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.selector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.browser-icon,
.browser-checkbox {
  cursor: pointer;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.description-results {
  display: flex;
  width: 100%;
}

input[type="checkbox"] {
  outline: none;
}

.input-prompt,
.description-text {
  font-size: 1.2rem;
}

.about-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 80%;
}

.about-header {
  font-size: 2rem;
  font-weight: bold;
}

.about-text {
  font-size: 1.1rem;
  margin-top: 0.2rem;
  line-height: 1.5rem;
}

.about-page ul {
  list-style: none;
}
